src/main/mule/retail-accountopening-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="retail-accountopening-papi-main">
        <http:listener config-ref="retail-accountopening-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retail-accountopening-papi-config" />
        <error-handler ref="Global_Error_Handler"/>

    </flow>
    <flow name="retail-accountopening-papi-console">
        <http:listener config-ref="retail-accountopening-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retail-accountopening-papi-config" />
		<error-handler ref="Global_Error_Handler" />
    </flow>
    <flow name="put:\onboarding-cases\(onboardingCaseId)\customer:application\json:retail-accountopening-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="onboardingCaseId">attributes.uriParams.'onboardingCaseId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\onboarding-cases\(onboardingCaseId)\customer:application\json:retail-accountopening-papi-config" />
    </flow>
    <flow name="post:\onboarding-cases:application\json:retail-accountopening-papi-config">
        <flow-ref doc:name="Flow Reference" doc:id="34b26270-5912-457a-8ee4-533aa6d38ef2" name="onboarding-cases-Sub_Flow"/>
    </flow>
    <flow name="post:\party-reference-data-directory\parties:application\json:retail-accountopening-papi-config">
        <flow-ref doc:name="Flow Reference" doc:id="464605df-7df0-4933-8c0c-6d2f20a9cba0" name="onboarding-create-Sub_Flow"/>
    </flow>
</mule>
